---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Myriation"
	description="Trolling"
	author="Ty"
	avatar="/img/myriation.png"
>
	<div class="content">
		<h1>Welcome to <span class="text-gradient">Myriation</span>!</h1>
		<p>
			Myriation is both the domain name and also my name for all of the services I host. Some of these services are publically accessible (like SearXNG), but others are invite-only (such as Forgejo or VaultWarden). If you wish to gain access to these services, please message me on Matrix (other messaging services work, but you have the best chance if you use Matrix). I also reserve the right to delete any accounts or any data you have uploaded/created if I so choose.
		</p>

		<h2>List of hosted services, along with data stored</h2>
		<table>
			<tr>
				<th>Service</th>
				<th>Notes</th>
				<th>Stored data</th>
			</tr>
			<tr>
				<td><a href="https://atuin.myriation.xyz">Atuin</a></td>
				<td>Not conncted to SSO, so to create an account you need to DM me individually.</td>
				<td>Everything is encrypted and therefore inaccessible by anyone but you except your username, email, your total history count, and last sync date. All stored history is securely end-to-end encrypted with the encryption key you provide to your atuin client on login.</td>
			</tr>
			<tr>
				<td><a href="https://git.myriation.xyz">Forgejo</a></td>
				<td></td>
				<td>All data is unencrypted, unless manually encrypted via OpenPGP or similar.</td>
			</tr>
			<tr>
				<td><a href="https://ts.myriation.xyz">Headscale</a></td>
				<td>I am likely not going to make this accessible to anyone but me considering Headscale only supports one tailnet, but if you <em>really</em> want access, feel free to ask.</td>
				<td>All connections are end-to-end encrypted, everything else is unencrypted on server</td>
			</tr>
			<tr>
				<td><a href="https://jellyfin.myriation.xyz">Jellyfin</a></td>
				<td>Not conncted to SSO, so to create an account you need to DM me individually. Feel free to DM me for requests.</td>
				<td>All data is unencrypted, unless manually encrypted via OpenPGP or similar.</td>
			</tr>
			<tr>
				<td><a href="https://element.myriation.xyz">Matrix</a></td>
				<td>The backend runs on synapse, and the web UI is SchildiChat. The true backend URL is matrix.myriation.xyz, but delegation is set up so all MXIDs will end in myriation.xyz.</td>
				<td>All rooms are encrypted only if configured as such, and all account data is unencrypted besides key backups.</td>
			</tr>
			<tr>
				<td><a href="https://cloud.myriation.xyz">Nextcloud</a></td>
				<td></td>
				<td>All data is unencrypted, unless manually encrypted via OpenPGP or similar.</td>
			</tr>
			<tr>
				<td><a href="https://search.myriation.xyz">SearXNG</a></td>
				<td></td>
				<td>No data is stored, all preferences are client-side only.</td>
			</tr>
			<tr>
				<td><a href="https://bw.myriation.xyz">VaultWarden</a></td>
				<td></td>
				<td>All data is encrypted (it wouldn't be a good password manager if it weren't).</td>
			</tr>
		</table>
	</div>
</Layout>
