---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import GlobalStyles from "../styles/GlobalStyles.astro";

const { title, description, author, avatar } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{title}</title>
		<link rel="icon" type="image/x-icon" href={avatar} />
		<meta name="darkreader-lock" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />

		<meta name="description" content={description} />
		<meta name="author" content={author} />

		<meta name="og:type" content="website" />
		<meta name="og:title" content={title} />
		<meta name="og:description" content={description} />
		<meta name="og:url" content={Astro.url} />

		<link rel="preconnect" href="https://rsms.me/" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		<style lang="scss">
			:root {
				font-family: "Inter", sans-serif;
			}
			@supports (font-variation-settings: normal) {
				:root {
					font-family: "Inter var", sans-serif;
				}
			}

			html {
				background: var(--background-color);
				height: 100%;
				font-weight: 500;
			}
		</style>
		<script src="../scripts/index.ts"></script>
		<GlobalStyles />
		
		<link
			rel="me"
			href="https://blahaj.zone/@ty"
			title="My fediverse account"
		/>
	</head>
	<body>
		<header>
			<NavBar title={title} avatar={avatar} />
		</header>

		<main>
			<slot />
		</main>

		<Footer />
	</body>
</html>
